.watch-profile {
	transition: transform 0.2s ease;
	border: 0;
	margin-bottom: 2em;
	z-index: 0;
	box-shadow: 0 6px 4px 0 rgba(22, 22, 26, 0.18);
	border-radius: 50%;
}
.watch-profile:hover {
	transform: scale(1.1);
}
.watch-profile-image {
	border-radius: 0;
	border: 0;
}
.watch-profile-transform {
	transition: transform 0.2s ease;
}

.watch-profile-loading {
	width: 10rem;
	height: 10rem;
}
